.button {
  background-color: var(--green);
  border: 1px solid hsla(184, 100%, 38%, 1);
  box-shadow: 1px 1px 4px hsl(0, 0%, 10%);
  box-sizing: border-box;
  border-radius: .5rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.4rem;
  padding: .7rem 1rem;
}