@mixin displayFlexRow($width: 100%) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: $width;
  justify-content: space-between;
}

.places {

  width: 100%;

  &__header {
    @include displayFlexRow;
    margin: 0 0 4.3rem;
  }

  &__title {
    font-size: 3.6rem;
    color: var(--green);
    span {
      color: var(--black);
    }
  }

  &__select {
    @include displayFlexRow($width: 24rem);
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: .4rem 1.5rem;

    h5 {
      color: #706D6D;
      font-size: 1.8rem;
      font-weight: 500;
    }

    select {
      border: 0 none;
      color: #000000;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0 .5rem;
    }
  }
}