:root {
  --black: hsla(0, 0%, 27%, 1);
  --green: hsla(184, 100%, 38%, 1);
  --lightGreen: hsla(183, 100%, 38%, 0.5);
  --softGreen: hsla(183, 52%, 88%, 1);
  --blue: hsla(223, 100%, 38%, 1);
  --lightGray: hsla(0, 0%, 62%, 1);
  --darkGray: hsla(0, 0%, 40%, 1);
  --white: rgb(255, 255, 255);
}
